<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>boardweb</display-name>
  
  <!-- welcome.do 요청 -> co.yedam.WelcomeServlet 실행 -->
  <servlet>
    <servlet-name>welcome</servlet-name>
    <servlet-class>co.yedam.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>front</servlet-name>
    <servlet-class>co.yedam.common.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>front</servlet-name>
    <url-pattern>*.do</url-pattern>  <!-- .do 로 끝나는 것을 실행하면 FrontController가 실행된다. -->
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>