<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "co.yedam.member.mapper.MemberMapper"> <!-- 클래스이름이라 생각하면됨 -->
	<select id="selectMember" parameterType ="member">
	    select id,
	           pw,
	           name,
	           auth
	     from tbl_member
	     where id = #{id }
	     and   pw = #{pw }
	</select>
	
	<select id="listMember" parameterType="int">
	select id,
	       pw,
	       name,
	       auth,
	       image
	 from tbl_member
	</select>
	<insert id="insertMember" parameterType="member">
	    INSERT INTO tbl_member(id,pw,name, image)
        values (#{id },#{pw },#{name },#{image })
	</insert>
</mapper>